<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{fragments :: page_head('Shopme', 'none')}">...</head>
<body>
        <div class="container-fluid">
                <div th:replace="~{navigation :: header_menu}">...</div>
                <div th:replace="~{navigation :: search_bar}">...</div>
                <div th:replace="~{navigation :: quick_links}">...</div>
                <div>
                        <div style="font-size: 32px; font-weight: 600">Shopping by Categories</div>
                </div>

                <div class="row">
                        <a class="col-6 col-sm-4 col-md-3 col-lg-2-4 text-center mb-1 hover-scale text-decoration-none" th:each="cat : ${listCategories}"  th:href="@{'/c/' + ${cat.alias}}">
                                <div>
                                        <img th:src="@{${cat.imagePath}}" style="background-color: #F7F7F7; border-radius: 50%; width: 80px;" th:alt="${cat.name}"/>
                                </div>
                                <div>
                                        <p>[[${cat.name}]]</p>
                                </div>
                        </a>
                </div>
                <div th:replace="~{navigation :: footer_menu}"></div>
        </div>


</body>
</html>