<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>

<body>
    <div th:fragment="header_menu">
        <div class="container-fluid fixed-top">
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a th:href="@{/home}" class="navbar-brand"><h1 class="text-primary display-6">Shopme</h1></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white mx-5  my-sm-style" id="navbarCollapse">
                        <div class="navbar-nav w-100 d-none d-xl-flex flex-row justify-content-between ">
                            <div class="d-flex m-3 me-0">
                                <a th:href="@{/home}" class="nav-item nav-link active" id="home">Homepage</a>
                                <a th:href="@{'/products'}" class="nav-item nav-link">Products</a>
                                <th:block th:each="menu : ${listHeaderMenus}">
                                        <a class="nav-item nav-link" th:href="@{'/m/' + ${menu.alias}}">[[${menu.title}]]</a>
                                </th:block>

                            </div>
                            <div class="d-flex m-3 me-0">
                                <div class="search-wrapper mx-2">
                                    <form th:action="@{/search}" class="search-form" method="get">
                                        <input class="form-control search-input"  type="text" name="keyword" placeholder="Search for something ..."/>
                                        <ul class="previewSearchResult">
                                            <li class="spinnerSearch show position-absolute translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
                                                <div class="spinner-grow text-primary" role="status"></div>
                                            </li>
                                        </ul>
                                    </form>
                                    <button type="button" class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-3" id="searchButton">
                                        <i class="fas fa-search text-primary"></i>
                                    </button>
                                </div>
                                <th:block sec:authorize="isAuthenticated()">
                                    <div class="dropdown my-auto">
                                        <a th:href="@{/cart}" class="position-relative ps-3 me-4 my-xl-auto">
                                            <i class="fa fa-shopping-bag fa-2x"></i>
                                            <span
                                                    id="sumCart"
                                                    class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                                                    style="top: -10px; left: 35px; height: 20px; min-width: 20px;"
                                            >
                                            [[${session.sum}]]
                                        </span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu--cart p-4 mx-2" id="dropdownCartLink">
                                            <div th:replace="~{cart/cart_fragment :: miniCart}">...</div>
                                        </ul>
                                    </div>

                                    <div class="dropdown my-auto mx-2">
                                        <a href="#" class="dropdown" id="dropdownMenuLink"  data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-user fa-2x"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="dropdownMenuLink">
                                            <li class="d-flex align-items-center flex-column" style="min-width: 200px;">
                                                <img style="width: 80px; height: 80px; border-radius: 50%; overflow: hidden;"
                                                     th:src="${session.avatar}" />
                                            </li>
                                            <li class="text-center">
                                                <a class="dropdown-item nav-item nav-link mt-2"th:href="@{/account_details}" sec:authentication="principal.fullName" style="font-weight: 700; padding: 0 15px 5px;"></a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                <a class="dropdown-item nav-item nav-link" style="padding: 0 15px 5px;" th:href="@{/cart}">Your cart</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item nav-item nav-link" style="padding: 0 15px 5px;" th:href="@{/address_book}">Address Book</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item nav-item nav-link" style="padding: 0 15px 5px;" th:href="@{/questions}">Questions</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item nav-item nav-link" style="padding: 0 15px 5px;" th:href="@{/reviews}">Reviews</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item nav-item nav-link" style="padding: 0 15px 5px;" th:href="@{/orders}">Orders</a>
                                            </li>

                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                <form method="post" th:action="@{/logout}">
                                                    <button type="submit" class="btn nav-item nav-link" href="#">Logout</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </th:block>
                                <th:block sec:authorize="!isAuthenticated()">
                                    <a th:href="@{'/login'}" class="nav-item nav-link a-login">Login</a>
                                    <a th:href="@{'/register'}" class="nav-item nav-link">Register</a>
                                </th:block>
                            </div>
                        </div>

                        <div class="navbar-nav w-660 flex-column px-5 d-xl-none" id="#navbarCollapse">
                            <th:block sec:authorize="isAuthenticated()">
                                <div class="d-flex align-items-center flex-column">
                                    <img style="width: 150px; height: 150px; border-radius: 50%; overflow: hidden;"
                                         th:src="${session.avatar}" />
                                    <div class="text-center my-3">
                                        <span>[[${session.fullName}]]</span>
                                    </div>
                                </div>
                                <a th:href="@{/home}" class="nav-item nav-link py-2 active">Home</a>
                                <a th:href="@{'/products'}" class="nav-item nav-link py-2">Products</a>
                                <a class="nav-item nav-link py-2" th:href="@{/account_details}">Your Account</a>
                                 <a th:href="@{/cart}" class="nav-item nav-link py-2">Your cart</a>
                                 <a th:href="@{/address_book}" class="nav-item nav-link py-2">Address book</a>
                                 <a th:href="@{/questions}" class="nav-item nav-link py-2">Questions</a>
                                 <a th:href="@{/reviews}" class="nav-item nav-link py-2">Reviews</a>
                                 <a class="nav-item nav-link py-2" th:href="@{/orders}">Order history</a>
                            </th:block>
                            <th:block sec:authorize="!isAuthenticated()">
                                <a th:href="@{'/login'}" class="nav-item nav-link">Login</a>
                                <a th:href="@{'/register'}" class="nav-item nav-link">Register</a>
                            </th:block>
                            <div>
                                <hr class="dropdown-divider">
                            </div>
                            <div>
                                <form method="post" th:action="@{/logout}">
                                    <button type="submit" class="btn nav-item nav-link" href="#">Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div th:fragment="search_bar">
        <div  class="container my-3" th:remove="none">
            <form class="row justify-content-center align-items-center gx-2 gy-2" th:action="@{/search}" method="get">
                <div class="col-12 col-md-6">
                    <input type="search" name="keyword" class="form-control px-3" placeholder="Search for products" required th:value="${keyword}"/>
                </div>
                <div  class="col-12 col-md-auto">
                    <input type="submit" class="btn w-100 w-md-auto px-5" value="Search" style="background-color: #4A90E2; color: white" >
                </div>
            </form>
        </div>
    </div>

    <div th:fragment="search_results" th:remove="tag">
           <th:block th:if="${#lists.size(listProducts) > 0}">
               <li th:each="product, status: ${listProducts}" th:if="${status.count < 6}">
                   <div class="row align-items-center my-3">
                       <div class="col-sm-2">
                           <a th:href="@{'/p/' + ${product.alias}}" class="preview-product-link">
                               <img th:src="${product.mainImage}" style="width: 60px;" th:alt="${product.shortName}" />
                           </a>
                       </div>
                       <div class="col-sm-10">
                           <div class="d-flex justify-content-between">
                               <a th:href="@{'/p/' + ${product.alias}}" class="preview-product-link">
                                   <div>
                                       <b>
                                           [[${product.shortName}]]
                                       </b>
                                   </div>
                               </a>
                           </div>
                           <div class="d-flex justify-content-between">
                               <div>
                                   <small>
                                       <small><span th:replace="~{product/product_fragment :: product_price}"></span></small>
                                   </small>
                               </div>
                               <div>
                                   <small>
                                       <i>
                                           [[${product.brandName}]]
                                       </i>
                                   </small>
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
               <li>
                   <hr/>
               </li>
               <li class="d-flex">
                   <a class="btn border border-secondary rounded-pill px-3 text-primary mx-auto" th:href="@{'/search?keyword=' + ${previewKeyword}}">
                       View more
                   </a>
               </li>
           </th:block>
            <th:block th:unless="${#lists.size(listProducts) > 0}">
                    <li>
                        <div class="d-flex justify-content-center align-items-center" style="min-height: 100px;">
                            No products found
                        </div>
                    </li>
            </th:block>

    </div>

</body>
</html>