<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <div th:fragment="quantity_control(quantityValue, productId)">
            <div class="input-group quantity" style="width: 100px;">
                <div class="input-group-btn">
                    <button class="btn btn-sm rounded-circle bg-light border link-minus" th:pid="${productId}">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <input
                        type="text"
                        class="form-control form-control-sm text-center border-0"
                        th:value="${quantityValue}"
                        th:id="'quantity' + ${productId}"
                >
                <div class="input-group-btn">
                    <button class="btn btn-sm rounded-circle bg-light border link-plus"  th:pid="${productId}">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
    </div>
</body>
</html>