<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="cod_support" th:remove="tag">
        <a th:if="${sr.codSupported == true}"
           class="text-decoration-none action-link"
           th:href="@{'/shipping_rates/cod/'  + ${sr.id} + '/enabled/false'}"
           title="Disable this shipping rate">
            <i class="fas fa-hand-holding-usd fa-2x icon-green"></i>
        </a>
        <a th:if="${sr.codSupported == false}"
           class="text-decoration-none action-link"
           th:href="@{'/shipping_rates/cod/'  + ${sr.id}  +'/enabled/true'}"
           title="'Enable this shipping rate">
            <i  class="fas fa-hand-holding-usd fa-2x icon-dark"></i>
        </a>
    </div>
</body>
</html>