<div th:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row mb-3">
                <label  class="col-sm-3 form-label">Deliver Days: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.deliverDays}" readonly/>
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-3 form-label">Expected Deliver Date: </label>
                <div class="col-sm-9">
                    <div th:replace="~{fragments :: format_time(${order.deliverDate}, 'E, dd MM yyyy')}">...</div>
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-3 form-label">First Name: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.firstName}" readonly/>
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-3 form-label">Last Name: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.lastName}" readonly/>
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-3 form-label">Phone Number: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.phoneNumber}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row mb-3">
                <label  class="col-sm-3 form-label">Address Line 1: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.addressLine1}" readonly/>
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-3 form-label">Address Line 2: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.addressLine2}" readonly/>
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-3 form-label">City: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.city}" readonly/>
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-3 form-label">State: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.state}" readonly/>
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-3 form-label">Country: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.country}" readonly/>
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-3 form-label">Postal Code: </label>
                <div class="col-sm-9">
                    <input  type="text" class="form-control" th:value="${order.postalCode}" readonly/>
                </div>
            </div>
        </div>
    </div>




</div>
