<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Error - ShopmeAdmin', 'none')}">...</head>
<body  class="sb-nav-fixed">
    <div class="container-fluid">
        <div th:replace="~{navigation :: menu}"></div>
        <div id="layoutSidenav">
            <div th:replace="~{navigation :: side-nav }"></div>
            <div id="layoutSidenav_content">
                    <div class="container-fluid px-4 d-flex flex-column justify-content-center align-items-center flex-grow-1" style="min-height: 100vh;">
                                <div class="text-center text-muted">
                                    <h3 class="mb-4">Sorry, the requested page could not be found</h3>
                                    <div>
                                        <img th:src="@{${SUPABASE_URI} + ${SITE_MASCOT}}"/>
                                    </div>
                                </div>
                    </div>
            </div>
        </div>
    </div>
</body>


</html>