<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments :: page_head('Permission denied', 'tag')}"></div>
<body>
<div th:replace="~{navigation :: header_menu}">...</div>
<section class="page_404 d-flex vh-100 align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="four_zero_four_bg">
                        <h2 class="text-center">Page Not Found</h2>
                    </div>
                    <div class="contant_box_404">
                        <a th:href="@{/home}" class="btn border border-secondary rounded-pill px-3 text-primary mx-auto">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments :: footer}">...</div>

<!-- JavaScript Libraries -->

</body>
</html>