<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments :: page_head('Error', 'none')}">...</head>
<body  class="d-flex flex-column min-vh-100">
<div class="container-fluid d-flex flex-column flex-grow-1">
    <div th:replace="~{navigation :: header_menu}"></div>
    <main class="flex-fill">
        <div class="text-center">
            <h2>Sorry, the server encountered error while processing your request</h2>
            <div>
                <img th:src="@{${SUPABASE_URI} + ${SITE_MASCOT}}"/>
            </div>
        </div>
    </main>
    <div th:replace="~{navigation :: footer_menu}"></div>
</div>
</html>