<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="content" class="col-auto my-4" th:each="question : ${listQuestions}">
            <div class="row">
                        <b>Questions:</b>

          </div>
          <div class="d-flex align-items-center">
              <div>

                  [[${question.questionContent}]]
              </div>
              <div>
                  <span class="ms-3">
                              <a class="me-1 link-vote-question" th:href="@{'/vote_question/' + ${question.id}  + '/up'}" th:id="'linkVoteQuestionUp-' + ${question.id}" th:questionId="${question.id}">
                                  <i class="fas fa-2x fa-sort-up"  th:classappend="${question.isUpvotedByCurrentCustomer ? 'icon-blue' : 'icon-dark'}"></i>
                              </a>
                              <span th:id="'questionVoteCount-' + ${question.id}">[[${question.votes}]] Votes</span>
                            <a class="ms-1 link-vote-question"  th:href="@{'/vote_question/' + ${question.id}  + '/down'}" th:id="'linkVoteQuestionDown-' + ${question.id}"  th:questionId="${question.id}">
                                <i class="fas fa-2x fa-sort-down" th:classappend="${question.isDownvotedByCurrentCustomer ? 'icon-blue' : 'icon-dark'}"></i>
                            </a>
                    </span>
              </div>

          </div>
          <div class="ml-2">
            <small><b><i>[[${question.asker.fullName}]]</i></b>, <span th:replace="~{fragments :: format_time(${question.askTime}, 'yyyy-MM-dd HH:mm:ss')}"></span></small>
          </div>

        <th:block th:if="${question.answerer != null}">
                <div class="row">
                    <b>Answer:</b>
                </div>
                <div>
                    [[${question.answerContent}]]
                </div>
                <div class="ml-2">
                    <small><b><i>[[${question.answerer.fullName}]]</i></b>, <span th:replace="~{fragments :: format_time(${question.answerTime}, 'yyyy-MM-dd HH:mm:ss')}"></span></small>
                </div>
        </th:block>

  </div>
</body>
</html>