<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>[[${title}]]</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/spinner.css}">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new_style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/js/spinner.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_form.js}"></script>


</head>
<body>

    <th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a
                class="text-dark text-decoration-none text-center"
                th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reversedSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}"
        >[[${columnLabel}]]
            <span th:if="${sortField == fieldName}" th:class="${sortDir == 'asc' ?  'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
        </a>

    </th>



    <a
            th:fragment="export_link(extension)"
            th:href="@{${moduleURL} + '/export/' + ${extension}}"
            th:title="'Export To ' + ${extension.toUpperCase()}"
            class="text-decoration-none me-2"
    >
        <i th:class="'fas fa-file-' + ${extension} +  ' fa-2x icon-dark'"></i>
    </a>

    <div th:fragment="user_photos">
        <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver" ></span>
        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px"/>
    </div>

    <div th:fragment="enable_link(enabled, entityName, entityURL)" th:remove="tag">
            <a th:if="${enabled == true}" class="text-decoration-none action-link" th:href="@{${entityURL} + '/enabled/false'}" th:title="'Disable this ' + ${entityName}">
                <i class="fas fa-check-circle fa-2x icon-green "></i>
            </a>
           <a th:if="${enabled == false}" class="text-decoration-none" th:href="@{${entityURL} + '/enabled/true'}" th:title="'Enable this ' + ${entityName}">
               <i class="fas fa-circle fa-2x icon-dark "></i>
           </a>
    </div>

    <div th:fragment="edit(entityName, editURL)" th:remove="tag">
         <a class="text-decoration-none" th:href="@{${editURL}}" th:title="'Edit this ' + ${entityName} ">
            <i class="fas fa-edit fa-2x icon-green"></i>
         </a>
    </div>

    <div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
        <th:block th:if="${visible}">
            <a class="link-delete text-decoration-none" th:href="@{${deleteURL}}"  th:entityId="${entityId}" th:title="'Delete this ' + ${entityName}">
                <i class="fas fa-trash fa-2x icon-dark "></i>
            </a>
        </th:block>
    </div>


    <a th:fragment="page_link(pageNum, pageLabel)"
       class="page-link"
       th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} +  '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} +  ${categoryId != null ? '&categoryId=' + categoryId : ''}}">[[${pageLabel}]]</a>

    <div th:fragment="pagination(entityName)" th:remove="tag">
                        <div class="text-center m-1" th:if="${totalItems > 0}">
                            <span>Showing [[${entityName}]] <strong>[[${startCount}]]</strong> to <strong>[[${endCount}]]</strong> of <strong>[[${totalItems}]]</strong></span>
                        </div>

                        <div class="text-center m-1" th:unless="${totalItems > 0}">
                            <span>No [[${entityName}]] found</span>
                        </div>


                        <div th:if="${totalPages > 1}">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center flex-wrap">
                                    <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">
                                        <a th:replace="~{fragments :: page_link(1 , 'First')}"></a>
                                    </li>
                                    <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">
                                        <a th:replace="~{fragments :: page_link(${currentPage - 1},'Previous')}"></a>
                                    </li>
                                    <li  th:class="${currentPage != i} ? 'page-item' : 'page-item active'" th:each="i : ${#numbers.sequence(1, totalPages)}">
                                        <a th:replace="~{fragments :: page_link(${i},${i})}"></a>
                                    </li>
                                    <li th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">
                                        <a th:replace="~{fragments :: page_link(${currentPage + 1}, 'Next')}"></a>
                                    </li>
                                    <li  th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">
                                        <a th:replace="~{fragments :: page_link(${totalPages}, 'Last')}"></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
    </div>

    <div th:fragment="search_form">
                <form th:action="@{${moduleURL} + '/page/1'} " class="form-inline m-3" id="searchForm">
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <div class="row flex-row align-items-center">
                        <div class="col-2">
                            <label class="col-form-label d-none d-sm-inline-block" for="search">Filter</label>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12 col-sm-8 p-0">
                                    <input type="search" name="keyword" class="form-control" id="search" th:placeholder="Search..." required>
                                </div>
                                <div class="col-12 col-sm-2 p-0">
                                    <button type="submit" value="Search" class="btn btn-primary w-100 mt-2 mt-sm-0">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="col-12 mt-2 mt-sm-0 col-sm-2 p-0">
                                    <button type="button" class="btn btn-secondary w-100" onclick="clearFilter()">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>



                    </div>
                </form>
    </div>


    <div th:fragment="format_currency(amount)" th:remove="tag">
        <span th:if="${CURRENCY_SYMBOL_POSITION == 'before'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(amount,1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
    </div>

    <div th:fragment="format_time(dateTime, format)" th:remove="tag">
        [[${#dates.format(dateTime, format)}]]
    </div>

    <div th:fragment="currency_input(amount)" th:remove="tag">
        <th:block th:with="formattedAmount = ${#numbers.formatDecimal(amount,1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}">
            <input  type="text" class="form-control"
                    th:value="${CURRENCY_SYMBOL_POSITION == 'before' ? CURRENCY_SYMBOL +'' + formattedAmount : formattedAmount + '' +  CURRENCY_SYMBOL}"
                    readonly/>
        </th:block>
    </div>



</body>
</html>