<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div th:fragment="content" class="modal fade text-center" id="carouselModal">
                <div class="modal-dialog modal-xl">
                        <div class="modal-content bg-dark">
                            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></button>
                                    <th:block th:each="extraImage, status : ${product.images}">
                                        <button type="button" data-bs-target="#carouselExampleDark" th:data-bs-slide-to="${status.count}"></button>
                                    </th:block>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="2000">
                                        <img th:src="@{${product.mainImagePath}}" class="d-block m-auto" alt="First slide">
                                    </div>
                                    <th:block th:each="extraImage : ${product.images}">
                                        <div class="carousel-item" data-bs-interval="2000">
                                            <img class="d-block m-auto"  th:src="@{${extraImage.imagePath}}">
                                        </div>
                                    </th:block>

                                </div>
                                <button class="carousel-control-prev" data-bs-target="#carouselExampleDark" type="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" data-bs-target="#carouselExampleDark" type="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>
                </div>
        </div>
</body>
</html>