<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:replace="~{fragments :: page_head(${pageTitle}, 'tag')}"></div>
    <link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
</head>

<body>
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <div th:replace="~{navigation :: header_menu}">...</div>

    <div class="container-fluid">
        <div class="container">
            <div th:replace="~{breadcrumb :: content}">...</div>
            <div class="row g-4 mb-5">
                <div class="col-lg-8 col-xl-9">
                    <div class="row g-4">
                        <div class="col-lg-6">
                                    <div class="row">
                                            <div class="col-sm">
                                                <div class="row justify-content-center">
                                                    <div class="d-flex align-items-center justify-content-center"
                                                         style="aspect-ratio:1/1; max-width:500px; width:80%; margin:auto; background:#f8f8f8; overflow:hidden;">
                                                        <img id="bigImage"
                                                             th:src="@{${product.mainImagePath}}"
                                                             index="0"
                                                             style="width:80%; height:80%; object-fit:contain; display:block;">
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                        <div class="owl-carousel thumbnail-carousel mt-4 position-relative d-flex justify-content-center ">
                                                            <div class="m-1 border border-secondary p-2 rounded">
                                                                <img class="image-thumbnail" th:src="@{${product.mainImagePath}}" height="50" index="0"/>
                                                            </div>
                                                            <th:block th:each="extraImage,status : ${product.images}">
                                                                <div class="m-1 border border-secondary p-2 rounded" >
                                                                    <img class="image-thumbnail" th:src="@{${extraImage.imagePath}}" height="50" th:index="${status.count}"/>
                                                                </div>
                                                            </th:block>
                                                        </div>
                                                </div>
                                            </div>
                                    </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-sm">
                                <div>
                                    <h2>[[${product.name}]]</h2>
                                </div>
                                <div class="row ml-1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="col-xs">
                                                <input type="text" class="product-detail-rating-star" dir="ltr" data-size="md" th:value="${product.averageRating}">
                                            </div>
                                        </div>
                                        <div>
                                            <span th:unless="${product.inStock==true}" class="text-danger bg-secondary p-1 rounded"><b>Out of Stock</b></span>
                                            <span th:if="${product.inStock==true}" class="text-white bg-primary px-2 rounded"><b>In Stock</b></span>
                                        </div>
                                    </div>

                                    <div class="col-xs ml-1 mt-3">
                                        <a href="" class="text-decoration-none link-reviews">[[${product.reviewCount}]] rating(s)</a>
                                    </div>
                                    <div class="col-xs ml-2 mt-3">
                                        <a class="text-decoration-none link-questions" href="">[[${answeredQuestions}]] answered questions</a>
                                    </div>
                                </div>
                                <div>
                                    <span>Brand: [[${product.brand.name}]]</span>
                                </div>
                                <div>
                                    List Price:
                                    <span th:if="${product.discountPercent <= 0}">
                                            <div th:replace="~{product/product_fragment :: price_fragment(${product.price})}">...</div>
                                          </span>
                                    <del th:if="${product.discountPercent > 0}">
                                        <div th:replace="~{product/product_fragment :: price_fragment(${product.price})}">...</div>
                                    </del>
                                </div>
                                <div th:if="${product.discountPercent > 0}">
                                    Price:
                                    <div style="font-size: larger; color: darkred">
                                        <div th:replace="~{product/product_fragment :: price_fragment(${product.discountPrice})}">...</div>
                                    </div>
                                    ([[${#numbers.formatDecimal(product.discountPercent,1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] % off)
                                </div>
                                <div>&nbsp;</div>
                                <div th:utext="${product.shortDescription}"></div>
                            </div>
                            <div class="col-sm">



                                <th:block th:if="${product.inStock == true}">
                                    <div class="d-flex h-100 w-100 justify-content-between align-items-center my-3">
                                        <div th:replace="~{cart/quantity_control :: quantity_control(1, ${product.id})}">...</div>
                                    </div>

                                    <div class="mt-3">
                                        <button type="button" class="btn border border-secondary rounded-pill px-3 text-primary mx-auto addToCart" th:productId="${product.id}">
                                            Add to Cart
                                        </button>
                                    </div>
                                </th:block>


                            </div>
                        </div>
                </div>
                    <div class="row">
                        <div class="col-12">
                            <div><hr/></div>
                            <div>
                                <h3 class="mb-3 fw-semibold">Product Description:</h3>
                            </div>
                            <div class="p-3" th:utext="${product.fullDescription}" style="line-height: 1.7; font-size: 1.05rem;"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div><hr/></div>
                            <div>
                                <h3>Product Details:</h3>
                            </div>
                            <div class="row">
                                <div class="col-10 mx-auto">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped align-middle">
                                            <tbody>
                                            <tr th:each="detail : ${product.details}">
                                                <th class="w-50">[[${detail.name}]]</th>
                                                <td>[[${detail.value}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <nav>
                                    <div class="nav nav-tabs mb-3">
                                        <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                                id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review"
                                                aria-controls="review" aria-selected="true">Reviews</button>
                                        <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                                id="nav-question-tab" data-bs-toggle="tab" data-bs-target="#nav-question"
                                                aria-controls="nav-question" aria-selected="false">Questions</button>
                                    </div>
                                </nav>

                                <div class="tab-content mb-5">
                                    <div class="tab-pane active" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                                        <div th:replace="~{product/product_top_reviews :: content}"></div>
                                    </div>
                                    <div class="tab-pane" id="nav-question" role="tabpanel" aria-labelledby="nav-question-tab">
                                        <div th:replace="~{product/product_top_questions :: content}"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>




            </div>
                <div class="col-lg-4 col-xl-3">
                    <div class="row g-4 fruite">
                        <div class="col-lg-12">
                            <div class="input-group w-100 mx-auto d-flex mb-4">
                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                            <div class="mb-4">
                                <h4>Categories</h4>
                                <ul class="list-unstyled fruite-categorie">
                                    <li th:each="cat : ${product.category.parent.children}">
                                        <div class="d-flex justify-content-between fruite-name">
                                            <a th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h4 class="mb-4">Related products</h4>
                            <th:block th:each="product : ${listRelatedProducts}">
                                <div class="row align-items-center justify-content-start card-hover py-3">
                                    <div class="col-4">
                                        <div class="rounded" style="width: 90px;">
                                            <img th:src="@{${product.mainImagePath}}" class="img-fluid rounded" th:alt="${product.name}">
                                        </div>
                                    </div>
                                   <div class="col-8">
                                       <div>
                                           <a th:href="@{'/p/' + ${product.alias}}">
                                               <small class="mb-2"><b>[[${product.shortName}]]</b></small>
                                           </a>
                                           <div>
                                               <div class="col-xs">
                                                   <input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs" th:value="${product.averageRating}">
                                               </div>
                                           </div>
                                           <div class="d-flex mb-2">
                                               <div th:replace="~{product/product_fragment :: product_price}">...</div>
                                           </div>
                                       </div>
                                   </div>
                                </div>
                            </th:block>

                            <div class="d-flex justify-content-center my-4">
                                <a th:href="@{'/c/' + ${product.category.alias}}" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

    <div th:replace="~{product/images_carousel :: content}">...</div>

    <div th:replace="~{fragments :: modal_dialog}"></div>

<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

<div th:replace="~{fragments :: footer}">...</div>



<script type="text/javascript">
    let contextPath = "[[@{/}]]";
    let productId = "[[${product.id}]]";
    let csrfHeaderName = "[[${_csrf.headerName}]]";
    let csrfValue = "[[${_csrf.token}]]";

    $(document).ready(function() {
        let bigImage = $("#bigImage");

        $(".image-thumbnail").mouseover(function () {
            $(".image-thumbnail").each(function(){
                $(this).parent().removeClass('border-3');
            })


            $(this).parent().addClass('border-3');
            let currentImageSource = $(this).attr("src");
            let currentImageIndex = $(this).attr("index")
            bigImage.attr("src", currentImageSource);
            bigImage.attr("index", currentImageIndex);
        })

        bigImage.on("click", function() {
            $("#carouselModal").modal("show")
            let imageIndex = parseInt(bigImage.attr("index"));
            $("#carouselExampleIndicators").carousel(imageIndex);
        })

        $(".link-reviews").on("click", function(e){
            e.preventDefault();
            scrollToDiv('customer-reviews');
        })

        $(".link-questions").on("click", function(e){
            e.preventDefault();
            scrollToDiv('questions');
        })

    })

     function scrollToDiv(divId) {
          document.getElementById(divId).scrollIntoView({ behavior: 'smooth' });
    }
</script>
<script th:src="@{/js/main.js}"></script>
<script  th:src="@{/js/quantity_control.js}"></script>
<script  th:src="@{/js/common_modal.js}"></script>
<script  th:src="@{/js/add_to_cart.js}"></script>
<script  th:src="@{/js/common_rating.js}"></script>
<script  th:src="@{/js/review_vote.js}"></script>
<script th:src="@{/js/question_vote.js}"></script>
<script th:src="@{/js/create_question.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/js/custom_carousel.js}"></script>
</body>
</html>