<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: page_head(${pageTitle}, 'none')}"></div>
    <link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
</head>

<body>
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <div th:replace="~{navigation :: header_menu}">...</div>
    <div class="container-fluid">
        <div class="container">
            <div class="row" style="margin-top: 120px;">
                <div class="col">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-decoration-none" th:href="@{/}">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="text-decoration-none" th:href="@{/products}">Products</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div style="height: 100vh; overflow-y: auto; overflow-x: hidden; padding: 10px;">
                        <h2>Filter</h2>

                        <div id="brandFilter" class="mb-2">
                            <h6>Brands</h6>
                            <div class="row">
                                <th:block th:each="brand, status: ${listBrands}">
                                    <div class="col-12 col-sm-6" th:classappend="${status.index >= 6 ? 'd-none extra-brand' : ''}">
                                            <div class="card mb-3 brand-box" style="padding: 12px 6px;" th:brandName="${brand.name}">
                                                <img th:src="${brand.logoPath}" th:alt="${brand.name}" class="mx-auto" style="height: 28px; width: 75.6px; object-fit: contain;"/>
                                            </div>
                                    </div>
                                </th:block>
                                <a id="toggleBrands" href="#">View more</a>
                            </div>
                        </div>

                        <div class="row">
                            <hr/>
                        </div>

                        <div id="categoryFilter" class="mb-3">
                            <h6>Categories</h6>
                            <div class="row">
                                <div class="col-12">
                                    <select class="form-select" multiple id="categorySelect" >
                                        <th:block th:each="cat : ${listCategories}">
                                            <option th:value="${cat.alias}">[[${cat.name}]]</option>
                                        </th:block>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <hr/>
                        </div>


                        <div id="availabilityFilter" class="mb-2">
                            <h6>Availability</h6>
                            <div class="col-12">
                                <input type="checkbox" class="form-check-input" th:value="true">
                                <span class="ms-1 form-check-label">In Stock</span>
                            </div>
                        </div>

                        <div class="row">
                            <hr/>
                        </div>

                        <div id="discountFilter" class="mb-2">
                            <h6>Discount</h6>
                            <div class="col-12">
                                <input type="checkbox" class="form-check-input" th:value="true">
                                <span class="ms-1 form-check-label">On Sale</span>
                            </div>
                        </div>

                        <div class="row">
                            <hr/>
                        </div>

                        <div id="ratingFilter" class="mb-3">
                            <h6>Rating</h6>
                            <div class="col-12">
                                <label class="d-flex align-items-center gap-2">
                                        <input type="radio" name="rating" value="1">
                                        <input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs" value="1">
                                        <span>1</span>
                                </label>
                                <label class="d-flex align-items-center gap-2">
                                    <input type="radio" name="rating" value="2">
                                    <input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs" value="2">
                                    <span>2</span>
                                </label>
                                <label class="d-flex align-items-center gap-2">
                                    <input type="radio" name="rating" value="3">
                                    <input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs" value="3">
                                    <span>3</span>
                                </label>
                                <label class="d-flex align-items-center gap-2">
                                    <input type="radio" name="rating" value="4">
                                    <input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs" value="4">
                                    <span>4</span>
                                </label>
                                <label class="d-flex align-items-center gap-2">
                                    <input type="radio" name="rating" value="5">
                                    <input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs" value="5">
                                    <span>5</span>
                                </label>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 text-start">
                                <button class="btn border border-secondary rounded-pill px-4 text-primary mx-auto" id="btnProductFilter">
                                    Filter
                                </button>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <th:block th:each="product : ${listProducts}">
                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                                <div class="card h-100 text-center border-0 shadow-sm card-hover">
                                    <a th:href="@{'/p/' + ${product.alias}}" class="text-decoration-none text-dark" th:title="${product.name}">
                                        <img th:src="@{${product.mainImagePath}}"
                                             class="card-img-top p-2 mx-auto d-block"
                                             style="width: 150px; height: 150px; object-fit: contain;"
                                             th:alt="${product.shortName}" />
                                        <div class="card-body p-2">
                                            <h6 class="card-title mb-1 text-truncate" style="max-width: 100%">[[${product.shortName}]]</h6>
                                            <div>
                                                <table class="mx-auto">
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="product-detail-rating-star rating-krajee-fas" dir="ltr" data-size="xs" th:value="${product.averageRating}">
                                                        </td>
                                                        <td>
                                                            <small>[[${product.reviewCount}]]</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div th:replace="~{product/product_fragment :: product_price}">...</div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </th:block>
                    </div>

                </div>
                <div th:replace="~{fragments :: pagination('/products' ,'products')}">...</div>
            </div>




        </div>
    </div>
    <div th:replace="~{fragments :: footer}">...</div>
    <script type="text/javascript">
        $(".product-detail-rating-star").rating({
          displayOnly: true,
          hoverOnClear: false,
          showCaption: false,
        });


        $(document).ready(function(){
            $("#toggleBrands").on("click", function(){
               const extras = document.querySelectorAll(".extra-brand");

                extras.forEach(el => el.classList.toggle("d-none"));

                const currentText = $(this).text();

                $(this).text(currentText === 'View more' ?  'View less' : 'View more');
            });


             $('#categorySelect').select2({
                theme: 'bootstrap-5'
             });

             $('#brandFilter').on("click", function(e){
                  const brandBox = $(e.target).closest('.brand-box');
                  if(brandBox) {
                       brandBox.toggleClass('active-brand');
                  }
             });
     })
    </script>
    <script  th:src="@{/js/product_filtering.js}"></script>
</body>
</html>