<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
        <div th:fragment="content" class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
            <div class="card h-100 text-center border-0 shadow-sm card-hover">
                <a th:href="@{'/p/' + ${product.alias}}" class="text-decoration-none text-dark">
                    <img th:src="@{${product.mainImagePath}}"
                         class="card-img-top p-2 mx-auto d-block"
                         style="width: 150px; height: 150px; object-fit: contain;"
                         th:alt="${product.shortName}" />
                    <div class="card-body p-2">
                        <h6 class="card-title mb-1 text-truncate" style="max-width: 100%">[[${product.shortName}]]</h6>
                        <div th:replace="~{product/product_fragment :: product_price}">...</div>
                    </div>
                </a>
            </div>
        </div>

        <div th:fragment="product_price" th:remove="tag">
            <block th:if="${product.discountPercent <= 0}">
                <span>
                        <div th:replace="~{product/product_fragment :: price_fragment(${product.price})}">...</div>
                </span>
            </block>
            <block th:if="${product.discountPercent > 0}">
                <span style="font-size: larger; color: darkred">
                        <div th:replace="~{product/product_fragment :: price_fragment(${product.discountPrice})}">...</div>
                </span>
                <del>
                    <span>
                        <div th:replace="~{product/product_fragment :: price_fragment(${product.price})}">...</div>
                    </span>
                </del>
            </block>
        </div>

        <div th:fragment="price_fragment(productPrice)" th:remove="tag">
            <span th:if="${CURRENCY_SYMBOL_POSITION == 'before'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
            [[${#numbers.formatDecimal(productPrice,1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
            <span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}" th:remove="tag"> [[${CURRENCY_SYMBOL}]]</span>
        </div>
</body>
</html>