<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: page_head(${pageTitle}, 'none')}"></div>
    <link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
</head>

<body>
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <div th:replace="~{navigation :: header_menu}">...</div>
    <div class="container-fluid">
        <div class="container">
            <div th:replace="~{breadcrumb :: content}">...</div>
            <th:block th:unless="${listCategoryParents != null && !#lists.isEmpty(listCategoryParents)}">
                <div class="row" style="margin-top: 120px;">
                    <div class="col">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-decoration-none" th:href="@{/}">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a class="text-decoration-none" th:href="@{/products}">Products</a>
                                </li>

                                <th:block th:if="${selectedBrandName != null}">
                                    <li class="breadcrumb-item">
                                        <a class="text-decoration-none" th:href="@{'/products/page/1?brand=' + ${selectedBrandName} + '&context=brand'}">[[${selectedBrandName}]]</a>
                                    </li>
                                </th:block>

                            </ol>
                        </nav>
                    </div>
                </div>
            </th:block>
            <div class="row">
                <div class="col-lg-4">
                  <div th:replace="~{fragments :: filter}">...</div>
                </div>
                <div class="col-lg-8">
                    <th:block th:if="${category != null}">
                        <div class="row">
                            <th:block th:each="cat : ${category.children}">
                                <div class="col-sm-2 hover-scale text-center" th:if="${cat.enabled == true}">
                                    <a th:href="@{'/products/page/1?category=' + ${cat.alias} + '&context=category'}" class="text-decoration-none">
                                        <img
                                                th:src="@{${cat.imagePath}}"
                                                height="60"
                                                th:alt="${cat.name}"
                                        />
                                        <br />
                                        <b>[[${cat.name}]]</b>
                                    </a>
                                </div>
                            </th:block>
                        </div>
                    </th:block>
                    <div class="row">
                        <th:block th:each="product : ${listProducts}">
                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                                <div class="card h-100 text-center border-0 shadow-sm card-hover pb-2 position-relative">
                                    <a th:href="@{'/p/' + ${product.alias}}" class="text-decoration-none text-dark" th:title="${product.name}">
                                        <img th:src="@{${product.mainImagePath}}"
                                             class="card-img-top p-2 mx-auto d-block"
                                             style="width: 150px; height: 150px; object-fit: contain;"
                                             th:alt="${product.shortName}" />
                                        <div class="card-body p-2">
                                            <h6 class="card-title mb-1 text-truncate" style="max-width: 100%">[[${product.shortName}]]</h6>
                                            <div>
                                                <table class="mx-auto">
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="product-detail-rating-star rating-krajee-fas" dir="ltr" data-size="xs" th:value="${product.averageRating}">
                                                        </td>
                                                        <td>
                                                            <small>[[${product.reviewCount}]]</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div th:replace="~{product/product_fragment :: product_price}">...</div>
                                            <input type="hidden" th:id="'quantity' + ${product.id}" value="1">
                                        </div>
                                    </a>
                                    <button
                                            class="btn border border-secondary rounded-pill px-3 text-primary mx-auto addToCart" th:classappend="${product.inStock == false ? 'disabled' : ''}"
                                            th:productId="${product.id}"
                                    >
                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                    </button>
                                    <th:block th:if="${product.inStock == false}">
                                        <div class="product-label__out-of-stock">
                                            Out Of Stock
                                        </div>
                                    </th:block>

                                    <th:block th:if="${product.discountPercent > 0}">
                                        <div class="product-label__discount">
                                        <span class="product-label__discount-percent">
                                             [[${product.discountPercent}]]%
                                        </span>
                                            <span class="product-label__discount-label">
                                             OFF
                                        </span>
                                        </div>
                                    </th:block>

                                </div>
                            </div>

                        </th:block>
                    </div>

                </div>
                <div th:replace="~{fragments :: pagination('/products' ,'products')}">...</div>
            </div>




        </div>
    </div>

    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

    <div th:replace="~{fragments :: modal_dialog}"></div>
    <div th:replace="~{fragments :: footer}">...</div>

    <script type="text/javascript">
        $(".product-detail-rating-star").rating({
          displayOnly: true,
          hoverOnClear: false,
          showCaption: false,
        });

        let contextPath = "[[@{/}]]";
        let csrfHeaderName = "[[${_csrf.headerName}]]";
        let csrfValue = "[[${_csrf.token}]]";
        let context = "[[${context}]]";
        let selectedBrandName = "[[${selectedBrandName}]]";
        let selectedCategoryAlias = "[[${selectedCategoryAlias}]]";
    </script>
    <script type="text/javascript" th:src="@{/js/highlight_link.js}"></script>
    <script  th:src="@{/js/product_filtering.js}"></script>
    <script  th:src="@{/js/common_modal.js}"></script>
    <script  th:src="@{/js/add_to_cart.js}"></script>
</body>
</html>