<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<body>
<div th:fragment="content"  id="questions" class="ml-3">
    <h3>Questions & answers for this product</h3>

    <div th:replace="~{question/question_votes :: content}"></div>

    <div class="row ml-2">
        <div class="col-auto my-auto">
            <a class="text-decoration-none" th:href="@{'/questions/' + ${product.alias} + '/page/1?sortField=askTime&sortDir=desc'}">View all [[${product.questionCount}]] questions</a>
        </div>
        <div class="col-auto my-auto">
            <form th:action="@{/questions/save}" onsubmit="return submitQuestionCreateForm()" method="post">
                <button sec:authorize="!isAuthenticated()" class="btn btn-secondary" type="submit">
                    Ask a question
                </button>
            </form>
        </div>
    </div>

    <div class="ml-2 my-2">
            <form th:action="@{/questions/save}" onsubmit="return submitQuestionCreateForm()" class="col-md-4" method="post">
                <div sec:authorize="isAuthenticated()" class="d-flex" >
                    <div class="w-100">
                        <input type="hidden" id="productId" th:value="${product.id}">
                        <textarea class="form-control" id="questionContent" rows="2"  placeholder="Type your question here" required></textarea>
                    </div>
                    <div class="my-auto ml-2">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </form>
    </div>


    <div class="row">
        <div class="col">
            <hr/>
        </div>
    </div>

</div>
</body>
</html>