<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments :: page_head('Search Product', 'none')}">...</div>
<body>
        <div class="container-fluid">
            <form th:action="@{/sections/search_product}" method="POST" class="form-inline my-2">
                <div class="row">
                    <div class="col-10">
                        <input type="text" class="form-control me-sm-2" name="keyword" placeholder="product name" required>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-success">Search</button>
                    </div>
                </div>

            </form>
            <div class="row">
                <th:block  th:each="product : ${listProducts}">
                    <div class="col-sm-4 mb-2">
                            <a href="" class="link-product text-decoration-none" th:pid="${product.id}">
                                <img th:src="@{${product.mainImagePath}}" height="150px" th:alt="${product.name}"/>
                                <br/>
                                <b th:id="'pname' + ${product.id}">[[${product.shortName}]]</b>
                            </a>
                    </div>
                </th:block>
            </div>

            <div th:replace="~{modal_fragments :: modal_dialog}"></div>
            <div th:replace="~{fragments :: pagination('products')}"></div>
        </div>
<script th:src="@{/js/common_form.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        handleLinkProduct();
    });

    function handleLinkProduct() {
        $(".link-product").on("click", function(e) {
            e.preventDefault();
           let productId = $(this).attr("pid");
           let productName = $("#pname" + productId).text();
            if(window.parent.isProductAlreadyAdded(productId)) {
                showWarningModal("The product " + productName + "was already added.");
            }
            else {
                window.parent.addProduct(productId, productName);
            }
        });
    }
</script>
</body>
</html>