.icon-white {
    color:white
}

.icon-silver {
    color : silver
}

.icon-green {
    color: green
}

.icon-dark {
    color: gray
}

@media screen and (max-width: 768px) {
    /*small screen*/
    .full-details {
        display: none;
    }

    .less-details {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
        /*medium screen*/
        .full-details {
          display: block;
        }


        .less-details {
            display: none;
        }

       .hideable-column {
            display: none;
        }

}

@media screen and (min-width: 1024px) {
    /* large screen*/
    .less-details {
        display: none;
    }

   .hideable-column {
           display: table-cell;
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    width: 2px;
    height: 100%;
    background: #dee2e6;
}

.timeline li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 40px;
}

.timeline li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 16px;
    height: 16px;
    background: #007bff; /* Bootstrap 4 primary color */
    border-radius: 50%;
    z-index: 1;
}

.timeline .time {
    font-weight: 500;
    display: block;
    margin-bottom: 6px;
    color: #6c757d;
}

.timeline-item {
    border-left: 3px solid #ccc;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.status-new {
    border-color: #007bff; /* Blue */
    background-color: #e9f2ff;
}

.status-processing {
    border-color: #ffc107; /* Yellow */
    background-color: #fff8e1;
}

.status-delivered {
    border-color: #28a745; /* Green */
    background-color: #e9fbe7;
}

.status-cancelled {
    border-color: #dc3545; /* Red */
    background-color: #fdeaea;
}





@media (min-width: 992px) {  /* large breakpoint */
 .col-lg-4-8 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-lg-2-4 {
      flex: 0 0 20%;
      max-width: 20%;
  }
}