<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" id="divProductDetails">
        <th:block th:each="detail,status : ${product.details}">
                <div  th:id="'divDetail' + ${status.index}">
                    <div class="row align-items-center">
                        <input type="hidden" name="detailIDs" th:value="${detail.id}"/>
                        <div class="col-12 col-md-5">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <label class="col-form-label m-3">Name:</label>
                                </div>
                                <div class="col-10">
                                    <input type="text" class="form-control" name="detailNames" maxlength="255" th:value="${detail.name}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <label class="col-form-label m-3">Value:</label>
                                </div>
                                <div class="col-10">
                                    <input type="text" class="form-control" name="detailValues" maxlength="255" th:value="${detail.value}">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <a class="fa-solid fa-trash icon-dark float-right" href="#" title="Remove this detail" name="linkRemoveDetail"></a>
                        </div>
                    </div>
                </div>
        </th:block>

        <div class="form-inline" th:id="'divDetail' + ${#lists.size(product.details)}" >
            <div  class="row align-items-center">
                <input type="hidden" name="detailIDs" value="0"/>
                <div class="col-12 col-md-5">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <label class="col-form-label m-3">Name:</label>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" name="detailNames" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <label class="col-form-label m-3">Value:</label>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" name="detailValues" maxlength="255" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>