<div th:fragment="content" th:remove="tag">
    <div class="full-details table-responsive">
         <table class="table-bordered table-striped table">
             <thead class="table-header thead-dark">
                 <tr>
                     <th>Time</th>
                     <th>Status</th>
                     <th>Notes</th>
                 </tr>
             </thead>
             <tbody>
                    <tr th:each="track : ${order.orderTracks}">
                        <td>
                            <div th:replace="~{fragments :: format_time(${track.updatedTime}, 'yyyy-MM-dd HH:mm:ss')}">...</div>
                        </td>
                        <td>[[${track.status}]]</td>
                        <td>[[${track.notes}]]</td>
                    </tr>
             </tbody>
         </table>
    </div>

    <div class="less-details">
        <div class="row p-3" th:each="track : ${order.orderTracks}">
            <div class="col-sm-12 mr-auto">
                <span th:replace="~{fragments :: format_time(${track.updatedTime}, 'yyyy-MM-dd HH:mm:ss')}">...</span>
            </div>
            <div class="col-sm-12 ml-5">
                    <span><b>[[${track.status}]]:</b></span>
                    <span>[[${track.notes}]]</span>
            </div>
        </div>
    </div>
</div>