<div th:fragment="content" th:remove="tag">
    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Deliver Days: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.deliverDays}" readonly/>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Expected Deliver Date: </label>
        <div class="col-sm-10">
            <div th:replace="~{fragments :: format_time(${order.deliverDate}, 'E, dd MM yyyy')}">...</div>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">First Name: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.firstName}" readonly/>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Last Name: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.lastName}" readonly/>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Phone Number: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.phoneNumber}" readonly/>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Address Line 1: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.addressLine1}" readonly/>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Address Line 2: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.addressLine2}" readonly/>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">City: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.city}" readonly/>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">State: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.state}" readonly/>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Country: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.country}" readonly/>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Postal Code: </label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:value="${order.postalCode}" readonly/>
        </div>
    </div>

</div>
