<div th:fragment="content" th:remove="tag">
    <div class="form-group row">
        <label  class="col-sm-2 form-label" for="orderId">Order ID: </label>
        <div class="col-sm-10">
            <input  type="text" id="orderId" class="form-control" th:value="${order.id}" readonly/>
        </div>
    </div>

    <div class="form-group row">
        <label  class="col-sm-2 form-label" for="fullName">Customer: </label>
        <div class="col-sm-10">
            <input  type="text" id="fullName" class="form-control" th:value="${order.customer.fullName}" readonly/>
        </div>
    </div>

    <div class="form-group row">
        <label  class="col-sm-2 form-label">Product Cost:</label>
        <div class="col-sm-10">
           <div th:replace="~{fragments :: currency_input(${order.productCost})}">...</div>
        </div>
    </div>

    <div class="form-group row">
        <label  class="col-sm-2 form-label">Subtotal:</label>
        <div class="col-sm-10">
            <div th:replace="~{fragments :: currency_input(${order.subTotal})}">...</div>
        </div>
    </div>

    <div class="form-group row">
        <label  class="col-sm-2 form-label">Shipping Cost:</label>
        <div class="col-sm-10">
            <div th:replace="~{fragments :: currency_input(${order.shippingCost})}">...</div>
        </div>
    </div>

    <div class="form-group row">
        <label  class="col-sm-2 form-label">Tax:</label>
        <div class="col-sm-10">
            <div th:replace="~{fragments :: currency_input(${order.tax})}">...</div>
        </div>
    </div>

    <div class="form-group row">
        <label  class="col-sm-2 form-label">Total:</label>
        <div class="col-sm-10">
            <div th:replace="~{fragments :: currency_input(${order.total})}">...</div>
            <p class="mt-3">TOTAL = Subtotal + Shipping Cost + Tax</p>
        </div>
    </div>

    <div class="form-group row">
        <label  class="col-sm-2 form-label">Payment Method:</label>
        <div class="col-sm-10">
                <span>[[${order.paymentMethod}]]</span>
        </div>
    </div>


    <div class="form-group row">
        <label  class="col-sm-2 form-label">Status:</label>
        <div class="col-sm-10">
            <span>[[${order.orderStatus}]]</span>
        </div>
    </div>



    <div class="form-group row">
        <label  class="col-sm-2 form-label">Order Date:</label>
        <div class="col-sm-10">
            <div th:replace="~{fragments :: format_time(${order.orderTime}, 'yyyy-MM-dd HH:mm:ss')}">...</div>
        </div>
    </div>
</div>
