<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content" th:remove="tag">
        <div id="trackList">
            <div
                    class="row border-bottom track-box"
                    style="margin-bottom: 40px"
                    th:each="track,status : ${order.orderTracks}"
                    th:id="'rowTrack' + ${status.count}"
            >
                    <input type="hidden" name="trackId" class="hiddenTrackId" th:value="${track.id}">
                    <div class="col-sm-2">
                        <div class="track-count">[[${status.count}]]</div>
                        <div><a th:unless="${track.status.name() == 'NEW'}" class="fas fa-trash icon-dark link-delete-track" href="" th:rowNumber="${status.count}"></a></div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="col-form-label">Time:</label>
                            </div>
                            <div  class="col-sm-10">
                                <input type="datetime-local" name="trackDate" class="form-control" th:value="${track.updatedTimeOnForm}" th:readonly="${track.status.name() == 'NEW'}" style="max-width: 300px" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="col-form-label" >Status:</label>
                            </div>
                            <div  class="col-sm-10">
                                <select name="trackStatus" class="form-control order-status" th:rowNumber="${status.count}" th:readonly="${track.status.name() == 'NEW'}" style="max-width: 150px">
                                    <option th:each="orderStatus : ${T(com.shopme.common.entity.order.OrderStatus).values()}" th:value="${orderStatus.defaultDescription()} + '|' + ${orderStatus.name()}" th:selected="${orderStatus.name() == track.status.name()}">[[${orderStatus.name()}]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div  class="col-sm-2">
                                <label class="col-form-label">Notes:</label>
                            </div>
                            <div  class="col-sm-10">
                                <textarea rows="2" name="trackNote" th:id="'notes' + ${status.count}" class="form-control"  th:readonly="${track.status.name() == 'NEW'}" style="max-width: 300px" required>[[${track.notes}]]</textarea>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <a href="" class="btn btn-success" id="link-add-track">Add Track Record</a>

</body>
</html>