<div th:fragment="content" th:remove="tag">
    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2" for="orderId">Order ID: </label>
        <div class="col-sm-10">
            <input  type="text" id="orderId" class="form-control" th:value="${order.id}" readonly/>
        </div>
    </div>

    <div th:if="${isVisibleForAdminOrSalesperson}">
        <div class="row mb-2 align-items-center">
            <label  class="col-sm-2" for="fullName">Customer: </label>
            <div class="col-sm-10">
                <input  type="text" id="fullName" class="form-control" th:value="${order.customer.fullName}" readonly/>
            </div>
        </div>
        <div th:if="${isVisibleForAdminOrSalesperson}">
            <div class="row mb-2 align-items-center">
                <label  class="col-sm-2">Product Cost:</label>
                <div class="col-sm-10">
                   <div th:replace="~{fragments :: currency_input(${order.productCost})}">...</div>
                </div>
            </div>

            <div class="row mb-2 align-items-center">
                <label  class="col-sm-2">Subtotal:</label>
                <div class="col-sm-10">
                    <div th:replace="~{fragments :: currency_input(${order.subtotal})}">...</div>
                </div>
            </div>

            <div class="row mb-2 align-items-center">
                <label  class="col-sm-2">Shipping Cost:</label>
                <div class="col-sm-10">
                    <div th:replace="~{fragments :: currency_input(${order.shippingCost})}">...</div>
                </div>
            </div>
        </div>

        <div class="row mb-2 align-items-center">
            <label  class="col-sm-2">Tax:</label>
            <div class="col-sm-10">
                <div th:replace="~{fragments :: currency_input(${order.tax})}">...</div>
            </div>
        </div>
    </div>

    <div>
        <div class="row mb-2 align-items-center">
            <label  class="col-sm-2">Total:</label>
            <div class="col-sm-10">
                <div th:replace="~{fragments :: currency_input(${order.total})}">...</div>
                <div th:if="${isVisibleForAdminOrSalesperson}"style="width: 35%">
                    <p class="mt-3 text-bg-warning">
                        <b>
                            TOTAL = Subtotal + Shipping Cost + Tax
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Payment Method:</label>
        <div class="col-sm-10">
                <span>[[${order.paymentMethod}]]</span>
        </div>
    </div>


    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Status:</label>
        <div class="col-sm-10">
            <span>[[${order.orderStatus}]]</span>
        </div>
    </div>



    <div class="row mb-2 align-items-center">
        <label  class="col-sm-2">Order Date:</label>
        <div class="col-sm-10">
            <div th:replace="~{fragments :: format_time(${order.orderTime}, 'yyyy-MM-dd HH:mm:ss')}">...</div>
        </div>
    </div>
</div>
