<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<body>
      <div th:fragment="format_currency(amount)" th:remove="tag">
        <span th:if="${CURRENCY_SYMBOL_POSITION == 'before'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
        [[${#numbers.formatDecimal(amount,1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
        <span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}" th:remove="tag"> [[${CURRENCY_SYMBOL}]]</span>
      </div>

    <div th:fragment="format_time(dateTime)" th:remove="tag">
            [[${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}]]
    </div>
</body>
</html>