<div th:fragment="content" th:remove="tag">
    <div class="row mb-3">
        <label  class="col-sm-2 form-label" for="orderId">Order ID: </label>
        <div class="col-sm-10">
            <input  type="text" id="orderId" class="form-control" th:field="*{id}" readonly/>
        </div>
    </div>

    <div class="row mb-3">
        <label  class="col-sm-2 form-label" for="fullName">Customer: </label>
        <div class="col-sm-10">
            <input  type="text" id="fullName" class="form-control" th:field="${order.customer.fullName}" readonly/>
        </div>
    </div>

    <div class="row mb-3">
        <label  class="col-sm-2 form-label" for="productCost">Product Cost:</label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:field="*{productCost}" id="productCost"/>
        </div>
    </div>

    <div class="row mb-3">
        <label  class="col-sm-2 form-label" for="subTotal">Subtotal:</label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:field="*{subtotal}" id="subTotal"/>
        </div>
    </div>

    <div class="row mb-3">
        <label  class="col-sm-2 form-label" for="shippingCost">Shipping Cost:</label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:field="*{shippingCost}" id="shippingCost"/>
        </div>
    </div>

    <div class="row mb-3">
        <label  class="col-sm-2 form-label" for="tax">Tax:</label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:field="*{tax}" id="tax"/>
        </div>
    </div>

    <div class="row mb-3">
        <label  class="col-sm-2 form-label" for="total">Total:</label>
        <div class="col-sm-10">
            <input  type="text" class="form-control" th:field="*{total}" id="total"/>
        </div>
    </div>

    <div class="row mb-3">
        <label  class="col-sm-2 form-label" for="paymentMethod">Payment Method:</label>
        <div class="col-sm-2">
            <select th:field="*{paymentMethod}" id="paymentMethod" class="form-control">
                <option th:each="pm : ${T(com.shopme.common.entity.order.PaymentMethod).values()}" th:value="${pm}" th:text="${pm}"></option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label  class="col-sm-2 form-label" for="orderStatus">Order Status:</label>
        <div class="col-sm-2">
            <input th:field="*{orderStatus}" id="orderStatus" class="form-control" readonly="readonly"/>
        </div>
    </div>


</div>
