<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{fragments :: page_head('Account Details', 'none')}">...</div>
<body  class="d-flex flex-column min-vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-10 mx-auto">
                    <div class="d-flex flex-column">
                        <div th:replace="~{navigation :: header_menu}">...</div>
                        <div th:replace="~{navigation :: quick_links}">...</div>
                        <div>&nbsp;</div>
                        <main class="flex-fill">
                            <div class="text-center">
                                <h2>Your Account Details</h2>
                            </div>
                            <form th:action="@{/update_account_details}" method="post" th:object="${customer}" style="width: 80%; margin: 0 auto 50px auto">
                                <div th:if="${message != null}" class="alert alert-success text-center">
                                    [[${message}]]
                                </div>

                                <div th:if="${errorMesssage != null}" class="alert alert-warning text-center">
                                    [[${errorMessage}]]
                                </div>

                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" name="redirect" th:value="${param.redirect}">

                                <div class="border border-secondary rounded p-3">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">Authentication Type:</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text" th:field="*{authenticationType}" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">Email:</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="email" th:field="*{email}" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">First Name:</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text" th:field="*{firstName}" required minlength="2" maxlength="45">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">Last Name:</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text" th:field="*{lastName}" required minlength="2" maxlength="45">
                                                </div>
                                            </div>

                                            <th:block th:if="${customer.authenticationType.name() == 'DATABASE'}">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Password: </label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" type="password" th:field="*{password}" minlength="6" maxlength="15" placeholder="Leave blank if you don't want to change your password" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Re-type Password: </label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" type="password" id="confirmPassword" minlength="6" maxlength="15" oninput="checkPasswordMatch(this)">
                                                    </div>
                                                </div>
                                            </th:block>

                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">Phone Number: </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text" th:field="*{phoneNumber}" required minlength="8" maxlength="15">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">Address Line 1: </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text" th:field="*{addressLine1}" required minlength="3" maxlength="64">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">Address Line 2: </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text" th:field="*{addressLine2}" minlength="3" maxlength="64">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">City: </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text" th:field="*{city}" minlength="2" maxlength="45">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">Country: </label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" th:field="*{country}">
                                                        <th:block th:each="country : ${listCountries}">
                                                            <option th:value="${country.id}">[[${country.name}]]</option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-form-label col-sm-4">State/Province:</label>
                                                <div class="col-sm-8">
                                                    <input  class="form-control" type="text" th:field="*{state}" minlength="3" maxlength="45" list="listStates">
                                                    <datalist id="listStates"></datalist>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Postal Code:</label>
                                                <div class="col-sm-8">
                                                    <input  class="form-control" type="text" th:field="*{postalCode}" minlength="2" maxlength="10">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="text-center">
                                        <input type="submit" value="Save" class="btn btn-primary px-4">
                                    </div>
                                </div>
                            </form>
                            <div th:replace="~{fragments :: modal_dialog}"></div>
                        </main>

                        <div th:replace="~{navigation :: footer_menu}">...</div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
        let contextPath = "[[@{/}]]";
</script>
<script th:src="@{/js/common_customer_form.js}"></script>
</body>
</html>