<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<body>
    <div th:fragment="content" th:remove="tag">
           <div class="py-2">
                Use this page to manage states/provinces which can be chosen by user in the customer registration form. Click Load Country List First
           </div>

            <div>
                <input type="button" value="Load Country List" id="buttonLoadAllCountries"   class="btn btn-primary m-2">
            </div>

        <form id="formState">
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label class="col-form-label">Selected Country:</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control"  id="dropDownAllCountries"></select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                        <label class="col-form-label">All states/provinces:</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" style="height: 250px" size="3" id="dropDownStates"></select>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                        <label class="col-form-label" id="labelStateName">State Name:</label>
                    </div>

                    <div class="col-md-7">
                        <input type="text" id="fieldStateName" class="form-control" required minlength="3" maxlength="45"/>
                    </div>


                    <div class="col-md-3">
                        <input type="button" id="buttonAddState" value="New" class="btn btn-secondary mr-2">
                        <input type="button" id="buttonUpdateState" value="Update" class="btn btn-secondary mr-2" disabled="disabled">
                        <input type="button" id="buttonDeleteState" value="Delete" class="btn btn-secondary" disabled="disabled">
                    </div>
                </div>
        </form>





    </div>
</body>
</html>